/vendor
/node_modules
.env
/database/database.sqlite
/public/storage
/storage/*.key
/public/hot
.env.*.backup
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.phpunit.cache
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.php_cs.cache
storage/debugbar
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
/storage/logs
.DS_Store
npm-debug.log
yarn-error.log
